<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAREER COUNSELLOR</title>
    <link rel="stylesheet" href="/css/quiz.css">
    <script src="/js/script.js"></script>
</head>
<body>
    
    <nav class="navbar">
        <div class="nav-left">
            <img th:src="@{/images/logo.png}" alt="Career Counsellor Logo">
        </div>

        <div class="nav-right">
           <ul class="menu">
                <li><a th:href="@{/home}">HOME</a></li>
                <li><a th:href="@{/home}">START TEST</a></li>
            </ul>

        </div>
        

    </nav>
     <div class="quiz-card">
    <span class="question-number">Question 2</span>
    <p class="question-text"> Which of these projects would you enjoy most?</p>

    <div class="options">
      <label class="option">
        <input type="radio" name="q2" value="A">
        <span>A. Training a robot to recognize faces</span>
      </label>
      <label class="option">
        <input type="radio" name="q2" value="B">
        <span>B. Predicting stock market trends using data</span>
      </label>
      <label class="option">
        <input type="radio" name="q2" value="C">
        <span>C.Creating a REST API for a chatbot</span>
      </label>
      <label class="option">
        <input type="radio" name="q2" value="D">
        <span>D. Writing a research paper on neural network optimization</span>
      </label>
      <a th:href="@{/q3}">
        <button class="next">NEXT</button>
      </a>
    </div>
  </div>
  


</body>
</html>

    