<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAREER COUNSELLOR</title>
    <link rel="stylesheet" href="/css/quiz.css">
    <script src="/js/script.js"></script>
</head>
<body>
    
    <header class="header">
        <nav class="navbar">
            <div class="nav-left">
            <a th:href="@{/}" class="brand-link">
                    <span class="brand-icon">🧠</span>
                    <span class="brand-name">CareerCounsellor</span>
                </a>

            </div>
            <div class="nav-right">
                <ul class="nav-menu">
                    <li><a th:href="@{/}">Home</a></li>
                </ul>
                <a th:href="@{/#instructions}" class="start-btn">START TEST</a>
            </div>
        </nav>
    </header>
     <div class="quiz-card">
    <span class="question-number">Question 5</span>
    <p class="question-text">How do you feel about datasets?</p>

    <div class="options">
      <label class="option">
        <input type="radio" name="q5" value="A">
        <span>A. I use them to train models</span>
      </label>
      <label class="option">
        <input type="radio" name="q5" value="B">
        <span>B. I enjoy cleaning and exploring them</span>
      </label>
      <label class="option">
        <input type="radio" name="q5" value="C">
        <span>C.I use pre-cleaned data if needed</span>
      </label>
      <label class="option">
        <input type="radio" name="q5" value="D">
        <span>D. I focus on synthetic or simulated datasets for research</span>
      </label>
      <a th:href="@{/q6}">
        <button class="next">NEXT</button>
      </a>
    </div>
  </div>
  


</body>
</html>

    