<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAREER COUNSELLOR</title>
    <link rel="stylesheet" href="/css/quiz.css">
    <script src="/js/script.js"></script>
</head>
<body>
    
    <nav class="navbar">
        <div class="nav-left">
      <a th:href="@{/home}" class="brand-link">
        <span class="brand-icon">🧠</span>
        <span class="brand-name">CareerCounsellor</span>
      </a>
        </div>

        <div class="nav-right">
            <ul class="nav-menu">
                <li><a th:href="@{/home}">Home</a></li>
            </ul>
            <a th:href="@{/starttest}" class="start-btn">START TEST</a>
        </div>
    </nav>
<br>
<br>
     <div class="quiz-card">
    <span class="question-number">Question 1</span>
    <p class="question-text"> What excites you most?.</p>

    <div class="options">
      <label class="option">
        <input type="radio" name="q1" value="A">
        <span>A. Building intelligent machines that learn</span>
      </label>
      <label class="option">
        <input type="radio" name="q1" value="B">
        <span>B.  Finding hidden patterns in data</span>
      </label>
      <label class="option">
        <input type="radio" name="q1" value="C">
        <span>C. Developing backend systems</span>
      </label>
      <label class="option">
        <input type="radio" name="q1" value="D">
        <span>D. Exploring theoretical ideas and publishing papers</span>
      </label>
      <a th:href="@{/q2}">
        <button class="next">NEXT</button>
      </a>

    </div>
  </div>
<br>
<br>
    <footer>
        <p>&copy; 2024 Career Counsellor. All rights reserved.</p>
    </footer>
</body>
</html>

    